html, body {
  height: 100%;
  box-sizing: border-box;
}

.content {
  width: 100%;
  min-width: 980px;
  min-height: 100%;
  margin-bottom: -84px;
}

.push {
  height: 110px;
}

.nav {
  height: 70px;
}

.nav ul {
  float: right;
  position: absolute;
  top: 15px;
  right: 25px;
  overflow: hidden;
  display: table;
}

.nav ul li {
  display: table-cell;
  vertical-align: middle;
  padding: 0 8px;
  font-family: arial;
  font-size: 13px;
  text-decoration: none;
  color: #3b3a3a;
}

.nav ul li a {
  text-decoration: none;
  color: #3b3a3a;
}

.nav ul li a:hover {
  text-decoration: underline;
  color: #4f4f4f;
}

.nav ul li a img {
  opacity: 0.5;
}

.nav ul li a img:hover {
  opacity: 1;
}

.logo {
  display: block;
  position: relative;
  margin: 128px auto 10px auto;
}

form {
  text-align: center;
}

.textarea {
  width: 585px;
  margin: 0 auto;
}

.textarea input {
  font-family: arial;
  font-size: 16px;
  font-weight: 500;
  width: 585px;
  min-width: 485px;
  padding: 0 15px;
  height: 45px;
  margin-left: 5px;
}

.buttons input {
  font-family: arial;
  font-weight: bold;
  font-size: 13px;
  color: #676767;
  margin-top: 18px;
  height: 35px;
  padding: 0 15px;
}

.footer{
  width: 100%;
  height: 82px;
  bottom: 0px;
}

.footer1, .footer2 {
  height: 50%;
  font-family: arial;
  font-size: 15px;
  line-height: 40px;
  vertical-align: middle;
  border-top: 1px solid #e3e4e6;
  background-color: #f2f2f2;
  color: #636363;
}

.footer1 p {
  padding: 0 30px;
}

.footer2 ul div li, .footer2 ul div{
  display: inline;
  font-size: 12px;
  padding: 0 15px;
}

.right {
  float: right;
}

.footer2 ul div li a {
  text-decoration: none;
  color: inherit;
}

.footer2 ul div li a:hover {
  text-decoration: underline;
  color: #4f4f4f;
}
